*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(150deg, #2bc759, #447de7);
    height: 100vh;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    position: absolute;
    background-color: rgb(63, 62, 62);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 18px;
}
button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: #746f6f;
    color: #fff;
}
button:hover{
    background-color: #555252;
}
.tela{
    background-color: #fff;
    height: 30px;
    color: #000;
    font-size: 25px;
    text-align: end;
    margin: 4px;
}